* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 200px;
    background-color: #4338CA;
    color: white;
}

header p {
    display: flex;
    align-items: center;
}

header img{
    margin-left: 5px;
}

header h3 {
    font-weight: lighter;
}

.banner {
    display: flex;
    position: relative;
}

.main-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.choice {
    margin: 20px;
}

.choice a {
    margin: 10px;
    padding: 6px 13px;
    padding-left: 0;
    color: #4338CA;
    display: flex;
    background-color: white;
    text-decoration: none;
    border: 1px solid #4338CA;
    border-radius: 5px;
}
.information {
    background-color: #4338CA;
    color: white;
}

.choice .history {
    background-color: #4338CA;
    color: #ffffff;
}

.choice i {
    padding: 0 15px;
}

.main-title {
    text-align: center;
    background: #4F46E5;
    color: white;
    margin: 10px auto;
    padding: 25px;
    border-radius: 10px;
    width: 730px;
    height: 130px;
}

.banner p {
    margin-top: 10px;
    font-size: 15px;
}

.banner h1 {
    font-weight: lighter;
    font-size: 24px;
}
.title {
    text-align: center;
    font-weight: lighter;
    color: #4F46E5;
    margin: 20px;

}

.cell {
    text-align: center;
    background: #ffffff;
    margin: 25px auto;
    padding: 23px;
    border-radius: 10px;
    width: 768px;
}

.cell label{
    padding-right: 15px;
}

.cell button {
    background-color: #3B82F6;
    border: 0 white;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.cell input {
    height: 30px;
}

.cell h3 {
    color: #22C55E;
    font-size: larger;
    font-weight: lighter;
    padding: 10px;
;
}

.title-history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: lighter;
    width: 266px;
    height: 38px;
}

.history-cell {
    display: flex;
    justify-content: space-between;
    width: 768px;
}

.actions {
    display: flex;
    gap: 10px;
    margin-right: 35px;
}

.actions .sort-btn {
    width: 160px;
    height: 38px;
    background-color:#F9FAFB;
    color: black;
    border: 1px solid rgb(201, 201, 201);
    text-align: left;
    padding-left: 10px;
    border-radius: 7px;
}

.actions input {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 159px;
    height: 38px;
    background-color:#F9FAFB;
    color: black;
}

.actions .search-btn {
    background: #1D4ED8;
    border: none;
    color: white;
    width: 38px;
    height: 38px;
    border-radius: 8px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #f9fafb;
}

th, td {
    padding: 12px;
    text-align: left;
    font-weight: lighter;
    color:#374151;
}

tbody tr {
    border-top: 1px solid #e5e7eb;
}

tbody tr:hover {
    background: #f3f4f6;
}

td i {
    cursor: pointer;
    color: #000000;
    font-weight: bolder;
    padding-left: 15px;
}

.pagination {
    display: flex;
    justify-content: right;
    gap: 5px;
    margin-top: 20px;
}

.pagination button {
    width: 35px;
    height: 35px;
    border: 1px solid #ddd;
    background: white;
    border-radius: 6px;
    cursor: pointer;
    color: #374151;
}

.pagination button.active {
    background: #4f46e5;
    color: white;
    border: none;
}

.warning {
    background-color: #333E5A;
    color: white;
    width: 320px;
    height: 80px;
    padding: 10px;
    border-radius: 8px;
    position: fixed;
    top: 70px;  
    right: 20px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.warning h3 {
    font-weight: lighter;
    font-size: 18px;
}

.warning p {
    font-size: 12px;
    padding-top: 15px;
    margin-left: 10px;
}

.warning img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

@media (max-width: 1440px) {
    header {
        padding: 15px 100px; /* giảm padding */
    }

    .banner {
        width: 600px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 15px 20px; /* sát lề mobile */
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .banner {
        width: 90%; /* full gần màn hình */
        height: auto; /* tránh bị bó */
        padding: 20px;
    }

    .banner h1 {
        font-size: 20px;
    }

    .banner p {
        font-size: 14px;
    }
}