* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 200px;
    background-color: #4338CA;
    color: white;
}

header h3 {
    font-weight: lighter;
}

header p {
    display: flex;
    align-items: center;
}

header img{
    margin-left: 5px;
}

.banner {
    display: flex;
    position: relative;
}

.main-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.choice {
    margin: 20px;
}

.choice a {
    margin: 10px;
    padding: 6px 13px;
    padding-left: 0;
    color: #4338CA;
    display: flex;
    background-color: white;
    text-decoration: none;
    border: 1px solid #4338CA;
    border-radius: 5px;
}
.information {
    background-color: #4338CA;
    color: white;
}

.choice .information {
    background-color: #4338CA;
    color: #ffffff;
}

.choice i {
    padding: 0 15px;
}

.main-title {
    text-align: center;
    background: #4F46E5;
    color: white;
    margin: 10px auto;
    padding: 25px;
    border-radius: 10px;
    width: 730px;
    height: 130px;
}

.banner p {
    margin-top: 10px;
    font-size: 15px;
}

.banner h1 {
    font-weight: lighter;
    font-size: 24px;
}
.title {
    text-align: center;
    font-weight: lighter;
    color: #4F46E5;
    margin: 20px;

}

.cell {
    text-align: center;
    background: #ffffff;
    margin: 25px auto;
    padding: 23px;
    border-radius: 10px;
    width: 730px;
}

.cell label{
    padding-right: 15px;
}

.cell button {
    background-color: #3B82F6;
    border: 0 white;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.cell input {
    height: 30px;
}

.cell h3 {
    color: #22C55E;
    font-size: larger;
    font-weight: lighter;
    padding: 10px;
;
}

.form-infor {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 cột */
    grid-template-rows: repeat(5, auto);   /* 5 dòng */
    gap: 10px;
    margin: 25px auto;
    padding: 25px;
    width: 730px;

}
.form-infor span {
    color: red;
}

.form-infor input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(198, 198, 198);
}

.form-infor button {
    color: #4F46E5;
    font-weight: bold;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #4F46E5;
}

.form-infor button:hover {
    background-color: #4F46E5;
    color: white;
    transition: 0.5s;
}

footer {
    background: #4338CA;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 1440px) {
    header {
        padding: 15px 100px; /* giảm padding */
    }

    .banner {
        width: 600px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 15px 20px; /* sát lề mobile */
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .banner {
        width: 90%; /* full gần màn hình */
        height: auto; /* tránh bị bó */
        padding: 20px;
    }

    .banner h1 {
        font-size: 20px;
    }

    .banner p {
        font-size: 14px;
    }
}