* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 200px;
    background-color: #4338CA;
    color: white;
}

header h3 {
    font-weight: lighter;
}

header select {
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    background: none;
    color: white;
    font-size: 15px;
}

header select option {
    background-color: white;
    color: black;
    padding: 5px;
}

.banner {
    display: flex;
    position: relative;
}

.main-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.choice {
    margin: 20px;
}

.choice a {
    margin: 10px;
    padding: 6px 13px;
    padding-left: 0;
    color: #4338CA;
    display: flex;
    background-color: white;
    text-decoration: none;
    border: 1px solid #4338CA;
    border-radius: 5px;
}

.information {
    background-color: #4338CA;
    color: white;
}

.choice .information {
    background-color: #4338CA;
    color: #ffffff;
}

.choice i {
    padding: 0 15px;
}

.main-title {
    text-align: center;
    background: #4F46E5;
    color: white;
    margin: 10px auto;
    padding: 25px;
    border-radius: 10px;
    width: 730px;
    height: 130px;
}

.banner p {
    margin-top: 10px;
    font-size: 15px;
}

.banner h1 {
    font-weight: lighter;
    font-size: 24px;
}

.title {
    text-align: center;
    font-weight: lighter;
    color: #4F46E5;
    margin: 20px;

}

.cell {
    text-align: center;
    background: #ffffff;
    margin: 25px auto;
    padding: 23px;
    border-radius: 10px;
    width: 730px;
}

.cell label {
    padding-right: 15px;
}

.cell button {
    background-color: #3B82F6;
    border: 0 white;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.cell input {
    height: 30px;
}

.cell h3 {
    color: #22C55E;
    font-size: larger;
    font-weight: lighter;
    padding: 10px;
    ;
}

.budget-box {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    justify-content: center;   
    align-items: center;    
    gap: 8px 10px;
}

.budget-box label {
    grid-column: 1;
    grid-row: 1;
    margin-left: 150px;
}

.budget-box input {
    grid-column: 2;
    grid-row: 1;
    height: 30px;
    width: 200px;
}

.budget-box button {
    grid-column: 3;
    grid-row: 1;
    margin-right: 90px;
}

.budget-box .error {
    grid-column: 2;
    grid-row: 2;
    color: red;
    font-size: 13px;
}

.form-infor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 cột */
    grid-template-rows: repeat(5, auto);
    /* 5 dòng */
    gap: 10px;
    margin: 25px auto;
    padding: 25px;
    width: 730px;

}

.form-infor span {
    color: red;
}

.form-infor input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(198, 198, 198);
}

.form-infor button {
    color: #4F46E5;
    font-weight: bold;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #4F46E5;
}

.form-infor button:hover {
    background-color: #4F46E5;
    color: white;
    transition: 0.5s;
}

footer {
    background: #4338CA;
    color: white;
    text-align: center;
    padding: 20px;
}

#toast {
    position: fixed;
    top: 30%;
    right: 34%;
}

.toast {
    background: #fff;
    padding: 16px;
    border-radius: 10px;
    width: 586px;
    height: 276;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    animation: slideIn 0.5s ease-out;
}

.toast hr {
    color: rgba(187, 187, 187, 0.444);
    width: 518px;
}

.toast img {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.toast h3 {
    margin-bottom: 10px;
    font-weight: lighter;
    font-size: 25px;
}

.toast p {
    margin-bottom: 12px;
    color: #667085;
}

.toast-actions {
    text-align: right;
    margin-top: 10px;
}

.toast button {
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.confirm-btn {
    background: #FBB01A;
    color: white;
    border: none;
    width: 60px;
    height: 44px;
}

.cancel-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid gray;
    width: 60px;
    height: 44px;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}

.success-toast {
    position: fixed;
    top: 80px;
    right: 20px;
    background: #22C55E;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 1; transform: translateY(0);}
}

@keyframes slideIn {
    from {
        transform: translateY(120%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width: 1440px) {
    header {
        padding: 15px 60px;
    }

    .main-title,
    .cell,
    .form-infor {
        width: 90%;
    }

    .main-title {
        height: auto;
    }

    .banner {
        flex-direction: column;
        align-items: center;
    }

    .choice {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    header {
        padding: 15px 20px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
    }


    .choice {
        flex-direction: column;
        align-items: center;
    }

    .choice a {
        width: 90%;
        justify-content: center;
    }

    .main-title {
        width: 95%;
        height: auto;
        padding: 20px;
    }

    .main-title h1 {
        font-size: 18px;
    }

    .main-title p {
        font-size: 13px;
    }


    .cell {
        width: 95%;
        padding: 15px;
    }

    .cell input {
        width: 100%;
        margin-top: 10px;
    }

    .cell button {
        margin-top: 10px;
        width: 100%;
    }

    /* FORM */
    .form-infor {
        grid-template-columns: 1fr;
        width: 95%;
    }

    .form-infor button {
        width: 100%;
    }

    #toast {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        right: auto;
    }

    .toast {
        width: 90%;
    }
}